In [2]:
from clean import *
import pandas as pd

/home/mcsalazart/.local/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.0' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
[nltk_data] Downloading package punkt to /home/mcsalazart/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/mcsalazart/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [4]:
df=pd.read_csv('../data/translated_data.csv')
df.head()

,linkedin_id,job_title,contract,mode,city,country,company,sector,job_posting_title,description,linkedin_skills
0,3629542706,Data Analyst,Full-time,On-site,Oldenburg,Germany,hanfried Personaldienstleistungen GmbH,Staffing & Recruiting,Data Analyst Finance (m/w/d) in Direktvermittlung,"Personnel advice, transfer or mediation -Hanfr...","Visual Basic, SQL, Data Visualization, Data An..."
1,3580242005,Data Analyst,Full-time,On-site,NaN,Italy,Telebit SpA,Telecommunications,LOGISTIC PROCESS & DATA ANALYST,"Telebit Modern, solid, large, large Italian gr...","Analytical Skills, Data Visualization, Data An..."
2,3570731003,Data Specialist,Full-time,Hybrid,Milan,Italy,NTT DATA Italia,Information Technology & Services,Data Driven Transformation Specialist,"NTT Data, Trusted Global Innovator, is among t...","Data Governance, Data Analytics, Analytics, Da..."
3,3587767744,Data Analyst,Full-time,Hybrid,Prague,Czechia,Aon,Financial Services,Junior Data Analyst,"Life is full of risks, from unexpected hurrica...","Data Visualization, Data Analytics, Visualizat..."
4,3625424422,Financial Analyst,Full-time,On-site,Madrid,Spain,BNP Paribas CIB,Financial Services,Financial Analyst CIB BL STEERING | BNP Pariba...,BNP Paribas EMEA Finance employs 500 employees...,"Ad Hoc Analysis, Business Requirements, Financ..."

In [ ]:
df.to_csv('../data/file_try.csv', sep='||', index=False)